@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Satisfy&display=swap');
@import "tailwindcss";

@theme{
  --font-outfit: "outfit", "sans-serif";
  --breakpoint-3xl: 1920px; 
  --color-primary: #0066ff;

}

@layer base{
  html{
    font-family: var(--font-outfit);
  }
  body{
    background-color: #fcfbfc;
    overflow-x: hidden;
  }
}

.input-box{
  @apply w-full flex justify-between gap-4 text-sm text-black bg-slate-300 rounded  px-4 py-3 mb-4 mt-3 border border-slate-200 outline-none;

}

.btn-primary{
  @apply bg-primary w-full rounded-sm  text-white font-medium text-sm mt-5 shadow-xs  p-[10px] my-4 hover:shadow-md shadow-slate-800;
}
.menuOption li{
  @apply text-xl font-normal border-0 justify-center flex 
}

.menuOption li:hover{
  @apply bg-blue-100 cursor-pointer text-primary
}

.card{
    @apply bg-white p-6 rounded-2xl shadow-md shadow-gray-100 border border-gray-200/50 
}

.card-btn{
  @apply flex items-center gap-2 text-[13px] font-medium text-gray-700 hover:text-blue-500  hover:bg-blue-50 px-4 py-1.5 rounded-lg border border-gray-200/50 cursor-pointer;
}